<%
require 'yaml'
lang = 'en'
doc = YAML.load_file("resume.yaml") 

companies = {}
doc['companies'].each do |c|
  companies[c['name'][lang]] = c
end

%>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Resume</title>
<link type="text/css" rel="stylesheet" href="css/blue.css" />
<link type="text/css" rel="stylesheet" href="css/print.css" media="print"/>
<!--[if IE 7]>
<link href="css/ie7.css" rel="stylesheet" type="text/css" />
<![endif]-->
<!--[if IE 6]>
<link href="css/ie6.css" rel="stylesheet" type="text/css" />
<![endif]-->
<script type="text/javascript" src="js/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="js/jquery.tipsy.js"></script>
<script type="text/javascript" src="js/cufon.yui.js"></script>
<script type="text/javascript" src="js/scrollTo.js"></script>
<script type="text/javascript" src="js/myriad.js"></script>
<script type="text/javascript" src="js/jquery.colorbox.js"></script>
<script type="text/javascript" src="js/custom.js"></script>
<script type="text/javascript">
		//Cufon.replace('h1,h2');
</script>
</head>
<body>
<!-- Begin Wrapper -->
<div id="wrapper">
  <div class="wrapper-top"></div>
  <div class="wrapper-mid">
    <!-- Begin Paper -->
    <div id="paper">
      <div class="paper-top"></div>
      <div id="paper-mid">
        <div class="entry">
          <!-- Begin Image -->
          <img class="portrait" src="images/image.jpg" alt="John Smith" />
          <!-- End Image -->
          <!-- Begin Personal Information -->
          <div class="self">
            <h1 class="name"><%= doc['name'][lang] %></h1>
            <ul>
              <li class="tel"><%= doc['phones'][0] %></li>
              <li class="mail"><%= doc['mail'] %></li>
              <li class="web"><%= doc['github'] %></li>
            </ul>
          </div>
          <!-- End Personal Information -->
          <!-- Begin Social -->
         
          <!-- End Social -->
        </div>


        <div class="entry">
          <h2>PROFILE</h2>
          <p><%= doc['profile'][lang] %></p>
        </div>


        <div class="entry">
          <h2>LANGUAGES</h2>
          <div class="content">
            <h3>excellent</h3>
            <ul class="skills">
              <% doc['programs']['excellent'].each do |r| %>
                <li><%= r %></li>
              <% end %>
            </ul>
          </div>
          <div class="content">
            <h3>good</h3>
            <ul class="skills">
              <% doc['programs']['good'].each do |r| %>
                <li><%= r %></li>
              <% end %>
            </ul>
          </div>
          <div class="content">
            <h3>general</h3>
            <ul class="skills">
              <% doc['programs']['general'].each do |r| %>
                <li><%= r %></li>
              <% end %>
            </ul>
          </div>
        </div>


        <div class="entry">
          <h2>OTHER SKILLS</h2>
          <div class="content">
            <h3>Libraries</h3>
            <ul class="skills">
              <% doc['libraries'].each do |r| %>
                <li><%= r %></li>
              <% end %>
            </ul>
          </div>
          <div class="content">
            <h3>Databases</h3>
            <ul class="skills">
              <% doc['databases'].each do |r| %>
                <li><%= r %></li>
              <% end %>
            </ul>
          </div>
          <div class="content">
            <h3>Vsersion Controlls</h3>
            <ul class="skills">
              <% doc['vsersion_controlls'].each do |r| %>
                <li><%= r %></li>
              <% end %>
            </ul>
          </div>
          <div class="content">
            <h3>OS</h3>
            <ul class="skills">
              <% doc['os'].each do |r| %>
                <li><%= r %></li>
              <% end %>
            </ul>
          </div>
          <div class="content">
            <h3>Something else</h3>
            <ul class="skills">
              <% doc['special_experiences_and_knowledge'].each do |r| %>
                <li><%= r %></li>
              <% end %>
            </ul>
          </div>
        </div>


        <div class="entry">
          <h2>ATTAINMENTS</h2>
          <% doc['attainments']['items'].each do |c| %>
            <div class="content">
              <h3><%= c['company'][lang] %></h3>
              <p><%= c['summary'][lang] %>
                <% next unless companies[c['company'][lang]] %>
                <br /><em><%= companies[c['company'][lang]]['duration'] %></em>
              </p>
              <ul class="info">
                <li><%= c['description'][lang]  %></li>
              </ul>
            </div>
          <% end %> 
        </div>



      </div>
      <div class="clear"></div>
      <div class="paper-bottom"></div>
    </div>
    <!-- End Paper -->
  </div>
  <div class="wrapper-bottom"></div>
</div>
<!-- End Wrapper -->
</body>
</html>
